<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Информация о пользователе</title>
</head>
<body>

<p>Информация о пользователе</p>

<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>LastName</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.id}">Id</td>
      <td th:text="${user.firstName}">FirstName</td>
      <td th:text="${user.lastName}">LastName</td>
      <td th:text="${user.email}">Email</td>
    </tr>
    </tbody>
  </table>
</div>

<a href="/logout">Выйти</a>
</body>
</html>






